/* Configuracion General */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
  height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/ventaticket/assets/img/fondoindex.jpg) no-repeat center center fixed;
    background-size: cover;
}

.login-box {
  width: 340px;
    background: black;
    opacity: 0.65;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
}

.login-box h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
input, select {
  position: relative;
  height: 40px;
  width: 95%;
  margin: 5px 0;
}
button {
    width: 45%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: background 0.3s;
}

button:hover {
    background: #05f138;
}
@media (max-width: 768px) {
  body { font-size: 16px; }
  .login-box { margin: 50px auto; }
}